html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  line-height: 30px;
}


/* Global */
h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}


h3 {
  font-size: 1.5rem;
}


h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

button {
  padding: 6px 10px;
  border-style: none;
  background-color: rgba(33, 150, 243, 0.68);
}

img {
  width: 100px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: yellow;
}


/* Index styles */
.main {
  width: 100%;
}

.main-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 20vh;
}

.main-container h1 {
  display: inline-block;
  background-color: yellow;
  padding: 5px 10px;
}

.main-container p {
  color: #808080;
  margin-bottom: 30px;
}

.main-container input[type='text'] {
  width: 105px;
  height: 20px;
  text-align: right;
}



/* Legistalors styles */
.legislators {
  width: 100%;
  margin-top: 70px;
}

.legislators-wrapper {
  width: 80%;
  margin: auto;
}

.legislators-wrapper h1 {
  display: inline-block;
  background-color: yellow;
  padding: 5px 10px;
}

.legislators-header p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.legislators-header {
  text-align: center;
}

#members h3 {
  font-weight: bold;
  text-align: center;
  font-size: 1.9rem;
  color: #808080;
  margin-bottom: 40px;
}

.member {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}


/* Profile styles */
.profile {
  width: 100%;
  margin-top: 70px;
}

.profile-wrapper {
  width: 80%;
  margin: auto;
}

.profile-header, #profile {
  text-align: center;
}

.profile-header h1 {
  background-color: yellow;
  display: inline-block;
}


#profile h2 {
  font-weight: bold;
  font-size: 1.9rem;
}

#profile {
  margin-bottom: 50px;
}

#votes {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.bill-container {
  border: 1px solid #000;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.bill-container:last-child {
  margin-bottom: 100px;
}

.bill-container h4 {
  font-weight: bold;
}
